.env
*.env
!.env.example

target/
backend/target/
backend-proyectos/target/
backend-avances/target/
*/target/
*.class

frontend/node_modules/
frontend/dist/
frontend/.vite/
node_modules/
dist/

*.log
logs/

.vscode/
.idea/
.DS_Store
Thumbs.db

/.terraform/
/.terraform.lock.hcl
*.tfstate
.tfstate.
crash.log
crash.*.log
*.tfvars
*.tfvars.json

mysql_data/
.aws/
**/.aws/
*.pem
*.key
proyecto-semestral-main/proyecto semestral/terraform/.terraform.lock.hcl
proyecto-semestral-main/proyecto semestral/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
